<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="container about">
<h1>Polestar Online Education Honor Code</h1>
<ul>
    <li>Your account is for your use only.  It is not to be shared with others.</li>
    <li>Answering quiz questions is part of the learning process. Don't limit other students' opportunities
        to learn, by giving them answers that they should be gaining rather than getting.</li>
    <li>If you mistakenly gain access to a course that you haven't paid for, you will notify us of this so that we
        may correct it.  (You will not be charged for such an error.)</li>
    <li>You will not attempt to gain access to courses that you have not registered for with Polestar Education.</li>
</ul>
</section>
