<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">
<h1>Terms of Service</h1>
<ul>
    <li>Access to the course and to this account is for the sole use of the student participant.</li>
    <li>Course participation is subject to appropriate interaction with other students.</li>
    <li>Access to course materials is not monitored.  There are no refunds for the online portions of a course.</li>
    <li>Video, audio and electronic print materials are the property of Polestar Education and are not to be copied
        either digitally or in physical form.</li>
</ul>
</section>
